:host {
  height: 100%;

  padding: 0;

  .pad {
    padding: 8px 8px;
  }
}

@media screen and (min-width: 1000px) {
  :host {
    display: flex;

    app-games  {
      flex: 1;
    }

    #yx {
      flex: 2;
      display: flex;
      flex-direction: column;

      .kax {
        display: flex;
      }
    }

    .pad {
      width: 100% !important;
    }
  }

}
