<app-games [title]="null" [bet]="false" class="pad"></app-games>
<div id="yx">
  <app-standings class="pad" [title]="null"></app-standings>
  <div class="kax">
    <app-top-scorers class="pad" [title]="null" [limit]="5"></app-top-scorers>
    <app-top-goal-scorers class="pad" [title]="null" [limit]="5"></app-top-goal-scorers>

  </div>
  <div class="kax">
    <app-top-playmakers class="pad" [title]="null" [limit]="5"></app-top-playmakers>
    <app-total-pigs class="pad"  [title]="null" [limit]="5"></app-total-pigs>
  </div>
</div>
